.image-container1 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5vh;
}

.text1 {
  position: absolute;
  top: 70px;
  left: 76px;
  text-align: center;
}

.chipset1 {
  fill: #c9a11c;
}
