.section5 {
  background: linear-gradient(
      0deg,
      rgba(11, 14, 26, 0.9),
      rgba(11, 14, 26, 0.9)
    ),
    url("https://www.cta.sk/assets/img/team-bg.jpg");
  background-position: top;
  background-size: 750%;
  min-height: 140vh;
  text-align: center;
}
