.section2 {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100vh;
  color: #0b0e1a;
  align-items: center;
  padding-top: 10vh;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 45px;
    margin-bottom: 3vh;
  }
  .section-span {
    color: #c9a11c;
    font-weight: 700;
    animation-name: disapear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

.section2-list {
  border-top: 1px solid black;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
